.all-page-add {


    width: 100%;
    height: 100vh;

    .titel {
        height: 10%;
        width: 100%;
        text-align: center;
       font-family:'Courier New', Courier, monospace ;

    }
    .exanple-titel{
       
        margin-left: 10px;
       width: 280px;
         
    }

    .Design-all {
        display: flex;

        .one-img {
            img {
                height: 200px;
                width: 200px;
            }

        }

        .Design-background{

            input{
                margin-left: 13px;
            }
            .addOneDesign-button{
                
                 button{
                                    box-shadow: 10px 10px 44px 9px rgba(255,244,141,0.54);
                -webkit-box-shadow: 10px 10px 44px 9px rgba(255,244,141,0.54);
                -moz-box-shadow: 10px 10px 44px 9px rgba(255,244,141,0.54);


                background: #ff0000;
                background: linear-gradient(90deg,#ff0000 0%, #e45067 80%);
                background: -webkit-linear-gradient(90deg,#ff0000 0%, #e45067 80%);
                background: -moz-linear-gradient(90deg,#ff0000 0%, #e45067 80%);
                     color: white;
                 }
            }
            .display-your-choose{
                
                margin-top: 10px;
                width: 200px;

                background-color: aqua;
            }
            .current-designs{
                margin-top: 20px;
                border: 1px solid;
                .display-cuur-colors{
                    display: flex;
                }
                .deleatOneDesign-button{
                   width: 100%;
                   height: 100%;
                  text-align: center;
                  margin-bottom: 3px;
                    button{
                        background: #ff0000;
                background: linear-gradient(90deg,#ff0000 0%, #e45067 80%);
                background: -webkit-linear-gradient(90deg,#ff0000 0%, #e45067 80%);
                background: -moz-linear-gradient(90deg,#ff0000 0%, #e45067 80%);
                        color: white;
                    }
                }
            }
        }

    }
}