.UserPool-all-page
{
height: 100vh;
  
  .Pool-container{
   
    display: flex;
    
  .Summary{
    margin-left: 20px;
    height: 400px;
    width: 400px;
    border: 7px outset;
    p{
      font-size: 36px;
      margin-left: 120px;
    }
    .num-of-product{
      margin-left: 40px;
      font-size: larger;
      span{
        margin-left: 170px;
      }
    }
    
  }
  h4{
    margin-top: 50px;
    margin-left: 50px;
  }
  .css-butoon{
    height: 50px;
    width: 300px;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 50px;

    background: #faebd7;
background: linear-gradient(0deg,#faebd7 0%, #dd9b43 80%);
background: -webkit-linear-gradient(0deg,#faebd7 0%, #dd9b43 80%);
background: -moz-linear-gradient(0deg,#faebd7 0%, #dd9b43 80%);
}
  .add-and-lass-button{
    background: #dd9b43;
    border: none;
    border-radius: 50%;
    width: 5%;
  }
  
  .add-and-lass-button:hover{
    
    background:#91652d;
  }
  .massege{
    
    height: 37px;
    margin-left: 80px;
    margin-top: 20px;
    color: #ff0000;
    font-size: 20px;
  }
  .Products-so-far
  {
    margin: auto;
    
    width: 30%;
    
    .display-pool{
      margin-top: 5px;
      width: 150%;
      border: 1px solid;
      border-radius: 3px;
      height: 150px;
      display: flex;
      gap: 5%;
      justify-content: space-evenly;
      align-items: center;
      background-color: #c79655;
      
      .display-the-product{
        
        display: flex;
        
        .plus-lass-icon
        {
          margin-top: 25px;
          margin-right: 20px;
          
        }
        .plus-lass-icon:hover{
          background-color: #dd9b43;
          border-radius: 30%;
        }
        
      }
      
      .singel-img{
        
        height: 50px;
        width: 50px;
        border-radius: 4px;
        img{
          
          border-radius: 6px;
          height: 42px;
          width: 42px;
        } 
      }
      
      .singel-img  :hover
      {
        
        transform: scale(4,4);
        border-radius: 4px;
      }
    
    }
    
    .display-pool:hover{
      background-color: #dd9b43;
      transform: scale(1.023,1.023);
      
    }
    
  }
  
}
}
